body {
    font-family: sans-serif;
}
header, nav{
    background-color:DodgerBlue ;
    color: aliceblue;
}

header a {
    color: aliceblue;

}

main nav {
    color: aliceblue;
}
h1 i {
    font-size:xx-large;
    color: #1D0772
}
